<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="shortcut icon", href="#", type="image/x-icon")
    title Analog Watch
  body
    h1 Analog Watch
    #watch.watch
      <!-- Hours -->
      -let hour = 1;
      while hour <= 12
        -let hoursContainer = `watch__hour container-hour--${hour}`
        -let hourNumber = `hour-${hour}`
        div(class=hoursContainer)
          div(class=hourNumber)=hour++
      
      <!-- Minutes -->
      -let min = 1;
      while min <= 60
        -let minutes=`watch__minutes minutes-${min}`
        if min % 5 === 0
          div(class=`${minutes} fifth`)
            div |
        else          
          div(class=minutes)
            div ı
        -min++   
      <!-- hands -->
      #hand.hand-base
      #handHour.hand-hour
      #handMinutes.hand-minutes
      #handSeconds.hand-seconds
      script(src="js/script.js")